.Category {
    height: 420px;
    min-height: 420px;
    -webkit-flex: 1 0 290px;
    flex: 1 0 290px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 290px;
}

.category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.image-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.image-style {
    height: 100%;
    max-height: 100%;
    max-width: none;
}

.sub-header-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    background-color: #232f3e;
    color: white;
    align-content: center;
    padding: 5px 0px;
    text-transform: capitalize;
}

.category-subheader {
    border: solid 1px transparent;
}

.category-subheader:hover {
    border: solid 1px white;
}

.all-cateogry-selector {
    display: flex;
    border: solid 1px transparent;
}

.all-cateogry-selector:hover {
    border: solid 1px white;
}

.carousel-loader {
    height: 100%;
    width: 100%;

}

.slideshow-container {
    position: relative;
    margin: auto;
}

.slideshow {
    width: 100%;
    flex: 1 1 auto;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
}

.slide-image {
    width: 100%;
}

.slide-back-icon-container {
    height: 100%;
    position: absolute;
    max-height: 250px;
    width: 80px;
    padding-left: 20px;
    visibility: visible;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-items: center;
    left: 0;
    border: 1px solid transparent;
}
.slide-back-icon-container:hover{
    border: 1px solid black;
}

.slide-front-icon-container {
    height: 100%;
    position: absolute;
    max-height: 250px;
    width: 80px;
    padding-left: 20px;
    visibility: visible;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-items: center;
    right: 0;
    border: 1px solid transparent;
}

.slide-front-icon-container:hover{
    border: 1px solid black;
}

.carousel-image-hide {
    visibility: hidden;
    width: 1500px;
    margin: 0px;
}

.carousel-image-show {
    visibility: visible;
    width: 1500px;
    margin: 0px;
}