.App {
  text-align: center;
  /* background-image: url(./loginImage.jpg); */
  background-repeat: no-repeat, repeat;
  background-size: cover; 
  font-family: "Amazon Ember";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f6f0ea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.login-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 25%;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px !important;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.login-elements{
  margin: 20px !important;
}

.warningMessage {
  color: red;
  font-size: 15px;
  font-weight: 400;
}